<!doctype html>
<html>
<head>
    <title>Chat Application</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>

    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
    <script src="//cdn.socket.io/socket.io-1.3.5.js"></script>
    <script>
        var socket = io();
        $(function(){
            $("#chat").on("click", function () {
                var user = <%- JSON.stringify(user) %>;
                $.get("/chat", { user: user }, function(data) {
                    $("#chat").val("")
                });
            })
        })
    </script>
</head>

<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/chat" class="btn btn-default btn-sm">Chat</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> User</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>username</strong>: <%= user.username %><br>
                        <strong>name</strong>: <%= user.name %><br>
                        <strong>password</strong>: <%= user.password %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>